  
    /*Cuando el ancho de la página es mayor de 640px serán tomadas las siguientes reglas:*/
    @media only screen and (min-width: 640px) {

        #mapa {
            
                  background-color: #000000;
        }
        
        #content {	

                margin: auto;
                text-align: center;
    	}	
	
        #isla {
	
	    	display: inline-block;
	    	width: 42%;
	    	height: 50%;
        	padding: 1%;
                border-radius: 25px;
    	}	
	
    	#carretera_vertical_acceso {
	
	    	display: inline-block;
	    	width: 6.52%;
	    	height: 60%;
                background-color: #000000;
                border-bottom: 8px solid #000000;
        	padding: 1%;
    	}	
	
        #carretera_vertical_1 {
	
	    	display: inline-block;
	    	width: 6.64%;
	    	height: 60%;
                background-color: #000000;
                border-top: 8px solid #000000;
                border-bottom: 8px solid #000000;
        	padding: 1%;
    	}	
	
        #carretera_vertical_2 {
	
	    	display: inline-block;
	    	width: 6.70%;
	    	height: 60%;
                background-color: #000000;
                border-top: 8px solid #000000;
        	padding: 1%;
    	}	

        #carretera_horizontal {
	
	    	display: inline-block;
	    	width: 90.4%;
                background-color: #000000;
        	border: 4px solid #000000;
		}
		
        .zona_naranja {

        	border: 4px solid #FF7400;
                background-image: linear-gradient(#FFF0E3, #FFE0C6);		
    	}
	
        .zona_rosa {

        	border: 4px solid #FF0097;	
                background-image: linear-gradient(#FFD8EF, #FFB8E2);	
    	}
        .zona_amarilla {

        	border: 4px solid #FFEC00;
                background-image: linear-gradient(#FFF9CA, #FFF6AE);	
    	}
	
        .zona_marron {

        	border: 4px solid #803000;	
                background-image: linear-gradient(#EECFAB, #F9E7D3);	
    	}
	
        .zona_morada {

        	border: 4px solid #A600FF;	
                background-image: linear-gradient(#E4B2FF, #EBC7FF);
    	}
	
        .zona_gris {

        	border: 4px solid #6A6A6A;	
                background-image: linear-gradient(#EEEEEE, #DADADA);
    	}

    	.coche {
	
	    	width: 20%;
	    	height: 20%;
    	}
        
        .cocheElectrico {
	
	    	width: 20%;
	    	height: 20%;
    	}

    	.furgoneta {
	
	    	width: 40%;
	    	height: 20%;
	    	margin-bottom: 7%;
    	}

    	.moto {
	
	    	width: 10%;
	    	height: 10%;
	    	margin-bottom: 7%;
    	}
	
        .carretera {
	
	    	width: 100%;
	    	height: 100%;
    	}
    }

    /* Cuando el ancho de la página es menor de 640px serán tomadas las siguientes reglas:*/
    @media only screen and (max-width: 640px) {
	
        #mapa {
            
                  background-color: #000000;
        }
        
        #content {	
	
	    	margin: auto;
        	text-align: center;
    	}	
	
        #isla {
	
	    	display: inline-block;
	    	width: 90%;
	    	height: 50%;
        	padding: 1%;
                margin-bottom: 1%;
                border-radius: 25px;
    	}	
	
    	#carretera_vertical_acceso {
	
	    	display: none;
    	}	
	
        #carretera_vertical_1 {
	
	    	display: none;
    	}	
	
        #carretera_vertical_2 {
	
	    	display: none;
    	}	

        #carretera_horizontal {
	
	    	display: none;
        }
		
        .zona_naranja {

        	border: 4px solid #FF7400;
                background-image: linear-gradient(#FFF0E3, #FFE0C6);		
    	}
	
        .zona_rosa {

        	border: 4px solid #FF0097;	
                background-image: linear-gradient(#FFD8EF, #FFB8E2);	
    	}
	
        .zona_amarilla {

        	border: 4px solid #FFEC00;
                background-image: linear-gradient(#FFF9CA, #FFF6AE);	
    	}
	
        .zona_marron {

        	border: 4px solid #803000;	
                background-image: linear-gradient(#EECFAB, #F9E7D3);	
    	}
	
        .zona_morada {

        	border: 4px solid #A600FF;	
                background-image: linear-gradient(#E4B2FF, #EBC7FF);
    	}
	
        .zona_gris {

        	border: 4px solid #6A6A6A;	
                background-image: linear-gradient(#EEEEEE, #DADADA);
    	}

        .coche {
	
	    	width: 20%;
	    	height: 20%;
    	}
        
        .cocheElectrico {
	
	    	width: 20%;
	    	height: 20%;
    	}
        
    	.furgoneta {
	
	    	width: 40%;
	    	height: 20%;
	    	margin-bottom: 7%;
    	}

    	.moto {
	
	    	width: 10%;
	    	height: 10%;
	    	margin-bottom: 7%;
    	}
    }
