/* versión móviles */
@media screen and (max-width:640px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        background-color: #090E3C;
        color: white;
    }
    #desplegable {display: block; cursor: pointer;}
    .desplegable-desktop{display: none;}
    .mobile-nav{
        display: block;
    }
    .mobile-nav span{
        font-size: 90%;
    }
    .box{
        font-size: 60%;
    }
    .box h1{
        font-size: 15px;
    }
    #fondomenu{
        background-color:  #090E3C;
        color: white;
        margin-left: 0px;
    }
    .empleado p{
        font-size: 15px;
    }
    .empleado img{
        margin: 0 auto;
        border-radius: 500px;
        padding: 1em;
        max-width: 150px;
    }
    .empleado h1{
        padding-bottom: 4px;
    }
    .empleado{
        width: 100%;
        padding: 0px 2em;
    }
    .paginainformacion h1{
        padding-top: 5em;
        font-size: 20px;
    }
    .paginainformacion p{
        margin: 0em 2em 0em 2em;
    }
    .paginaperfil a {
        font-size: 10px;
        font-weight: 600;
        color: #090E3C;
        text-decoration: none;
    }
    .paginaperfil #newvehiculo{
        padding-top: 11em;
    }
    .footer-left{
        padding-right: 10%;
    }
    .footer-right{
        padding-left: 10%;
    }
}